    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
              <br/><br/>
              <h2>About</h2>
              <br/>
                <p><b>emergee</b> is a comparison platform for 3D models.</p>
                <p><b>eemerge</b> allows users to quickly compare and choose among the best models available across the Internet and print it out as they prefer.</p>
				<p>With ease, quality and convenience.</p>

                   <br/>
              </div>
        </div>
    </section>
    
    <section class="web_disigner">
<div class="web_disigner_contain">
  <center><h1  style=" display:inline;">Team</h1></center>
  <div class="container">
  <div class='row'>
    <div class='col-md-12'>
      <div class="carousel slide media-carousel" id="fakejs">
        <div class="carousel-inner">
          <div class="item  active">
            <div class="row">
              <div class="col-md-4 padtop30">
                <center><div class="parent_circle">
                  <div class="parent_circle_contain">
                  <p>BIAGIO </p>
                  <p>Developer</p>
                </div>
                <div class=" child_round_circle child_round_circle_img1">
                  
                </div>
                </div>
                </center>
              </div>          
              <div class="col-md-4 padtop30">
               <center><div class="parent_circle">
               <div class="parent_circle_contain">
                  <p>GIULIANO</p>
                  <p>Business</p>
                </div>
                <div class="child_round_circle child_round_circle_img2  ">
                  
                </div>
                </div>
                </center>
              </div>
              <div class="col-md-4 padtop30">
            <center> <div class="parent_circle">
                  <div class="parent_circle_contain">
                  <p>ALESSIO</p>
                  <p>Prototyper</p>
                </div>
                <div class=" child_round_circle child_round_circle_img3 ">
                  
                </div>
                </div>
                </center> 
              </div>        
            </div>
          </div>
          </div>
          
          
        </div>
        <!-- <a data-slide="prev" href="#media" class="left carousel-control">‹</a>
        <a data-slide="next" href="#media" class="right carousel-control">›</a> -->
      </div>                          
    </div>
  </div>
</div>
</div>
</section>

<br>
<br>

<!--
  This is a combination of two pens:

  CSS3 Horizontal Timeline
  By Peiwen Lu Follow
  http://codepen.io/P233/details/LobqH
  
  Form Progress
  By Robin Brons Follow
  http://codepen.io/bronsrobin/details/dKqcf


  At the moment I don't need the functionality of showing content on click, but it can easily be re-added. The HTML didn't change much.

  The big version adapts to 100% width. The small version is set to 200px, but also works using the full width.

  I needed an easy adaptable 'summary'-like version as well.
  This is using the same HTML and minimal CSS modifications.
  Colors and other things can be configured by using the SCSS variables.

  For a 'debugging'-view set $timeline-debug: true;

  It's based on bootstrap v3 but only because of the text-alignment. You could do it without. I'm just lazy.
-->

<section id="timeline">
<ol class="timeline">
  <li class="timeline__step done">
    <input class="timeline__step-radio" id="trigger1{{identifier}}" name="trigger{{identifier}}" type="radio">

    <label class="timeline__step-label" for="trigger1{{identifier}}">
      <span class="timeline__step-content">
                Concept</span>
    </label>

    <span class="timeline__step-title">
            December 2015</span>

    <i class="timeline__step-marker fa fa-lightbulb-o"></i>
  </li>
  <li class="timeline__step done">
    <input class="timeline__step-radio" id="trigger2{{identifier}}" name="trigger{{identifier}}" type="radio">

    <label class="timeline__step-label" for="trigger2{{identifier}}">
      <span class="timeline__step-content">
                MVP</span>
    </label>

    <span class="timeline__step-title">
            January 2016</span>

    <i class="timeline__step-marker fa fa-ship"></i>
  </li>
  <li class="timeline__step">
    <input class="timeline__step-radio" id="trigger3{{identifier}}" name="trigger{{identifier}}" type="radio">

    <label class="timeline__step-label" for="trigger3{{identifier}}">
      <span class="timeline__step-content">
                Beta</span>
    </label>

    <span class="timeline__step-title">
            March 2016</span>

    <i class="timeline__step-marker fa fa-wrench"></i>
  </li>
  <li class="timeline__step">
    <input class="timeline__step-radio" id="trigger4{{identifier}}" name="trigger{{identifier}}" type="radio">

    <label class="timeline__step-label" for="trigger4{{identifier}}">
      <span class="timeline__step-content">
                Release</span>
    </label>

    <span class="timeline__step-title">
            June 2016</span>

    <i class="timeline__step-marker fa fa-cube"></i>
  </li>
</ol>

</section>

<br>
<br>
